.zoom {
	margin-top: 1rem;
    transition: transform 0.4s ease-in-out;
}
.zoom:hover {
	transform: scale(1.05);
	z-index: 5;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.card:hover {
    overflow: visible !important;
    white-space: normal !important;
}

.test {
   
   
    background: rgb(27,9,27);
    background: radial-gradient(circle, rgba(27,9,27,1) 27%, rgba(87,242,242,1) 53%, rgba(40,14,44,1) 87%);
   
}
